.background {

    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .tabs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        .email {
            margin-top: -20px;
        }
    }

    .rating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}