.background {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container {
  margin-top: 50px;
  height: "90%";
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: white;
}


.checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
}

.formGridRow1 {
  height: 80px;
  margin-bottom: 20px;
}

